.imdone{
    text-decoration: line-through;
  }
  .reddish{
    background-color: red;;
  }
  .greenish{
    background-color: blue;;
  }
  .card-content{
    background-color:white;
  }
  table,tr,th,td{
    border: 1px solid white;
  }
.log{
  float:right;
  margin-top: 13px;
  
}